{
  "presets": [
    ["env", {"modules": false, "loose": true}],
    "vue-app"
  ],
  "env": {
    "test": {
      "presets": [
        "vue-app"
      ],
      "plugins": [
        "istanbul",
        "transform-vue-jsx"
      ]
    }
  },
  "plugins": [
    "es6-promise",
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}
